@charset "UTF-8";

html, body{
	vertical-align: middle;
}

body{
	margin: 0; 
	font-family: 'DM Sans';
}

#global {margin: 0 auto;}

h2 {
    color: blue;
}

/* avoid top margins on first content element */
p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}

/* avoid margins on nested elements */
li p,
li ul,
li ol {
	margin-top: 0;
	margin-bottom: 0;
}

/* max values */
img, table, td, blockquote, code, pre, textarea, input, video {
	max-width: 100%;
}

/* HTML5 tags */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}

div, textarea, table, td, th, code, pre, samp {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

/* pictures */
img {
	width: auto;
	height: auto;
	vertical-align: middle;
}
a img { border: 0; }

/* scripts */
body > script {display: none !important;}

/* skip-links */
.skip-links {
	position: absolute;
}
.skip-links a {
	position: absolute;
	left: -9999px;
	padding: 0.5em;
	background: 
#000;
	color:
#fff;
	text-decoration: none;
}
.skip-links a:focus {
	position: static;
}


.liens{
	display: block;
	float: right
}

.baniere{
	display: block;
	width:1366px;
}

.btnAccept{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 91px;
  height: 21px;
  left: 892px;
  top: 302px;
  color: rgba(106, 141, 124, 1);
  
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.btnCancel{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 190px;
  height: 40px;
  left: 430px;
  top: 11px;
}

.btnUpload{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 211px;
  height: 25px;
  left: 184px;
  top: 205px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.rollCategorie{
  width: 300px;
  height: 20px;
}

.formFiltre{
  width: 400px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio{
	width: 200px;
}

.labelradio{ 
	margin: 300px;
}

.checkBox{
  display: flex;
  align-items: center;
  position: absolute;
  width: 20px;
  height: 20px;
}